<h1>Salut</h1>


<div class="cards-grid">

  <% @developers.each do |developer| %>
    <div class="developer-card">
      <%= image_tag(developer.image_url, alt: "developer picture") %>
      <div class="developer-card-infos">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="developer-card-name">
            <%= developer.first_name %>
          </h1>
          <h2 class="developer-card-pricing">
            <%= developer.price_per_day %>€/jour
          </h2>
        </div>
        <div class="developer-card-city">
          <p><i class="fa-solid fa-location-pin" style="color: #FF385C;"></i> <%= developer.city %> </p>
        </div>
        <div class="developer-card-more">
          <p></p>
          <%= link_to "Plus d'info sur #{developer.first_name}", developer_path(developer) %>
        </div>
      </div>
    </div>
  <% end %>


</div>
