
  <div class="m-4">
    <% if @query.nil? || @query == "" %>
      <h3>Liste des Développeurs (<%= @developers.length %>)</h3>
    <% else %>
      <h3>Résultats de la recherche,</h3>
      <p>Mot clé : <strong><%= @query %></strong>. Nous trouvons <%= @developers.count %> developpeurs sur <%= Developer.count %> dans notre liste.</p>
    <% end %>
  </div>

  <div class="cards-grid">
    <% @developers.each do |developer| %>
      <%= link_to developer_path(developer) do %>
        <div class="developer-card">
          <% if !developer.image_url.nil? %>
            <%= image_tag(developer.image_url, alt: "developer picture", class: "image-style") %>
          <% else developer.photo.attached? %>
            <%= cl_image_tag developer.photo.key, alt: "developer picture" %>
          <% end %>
          <div class="developer-card-infos">
            <div class="d-flex justify-content-between align-items-center">
              <h1 class="developer-card-name">
                <%= developer.first_name %>
                <%= developer.last_name %>
              </h1>
              <h2 class="developer-card-pricing">
                <%= developer.price_per_day %>€/jour
              </h2>
            </div>
            <div class="developer-card-city">
              <p><i class="fa-solid fa-location-pin"></i> <%= developer.city %> </p>
            </div>
          </div>
          <span style="position: absolute; top: 10px; right: 15px; font-size: 20px; color: gold; text-shadow: 0 0 1px black;"><i style="font-size: 20px; color: gold;" class="fa-solid fa-star"></i> <%= developer.reviews.average(:rating).to_f.round %></span>
        </div>
     <% end %>
    <% end %>
  </div>
