<div class="show-container">

  <div class="show-container-top">
    <div class="developer-pictures">
      <% if !@developer.image_url.nil? %>
        <%= image_tag(@developer.image_url, alt: "developer picture", class: "image-style") %>
      <% else @developer.photo.attached? %>
        <%= cl_image_tag @developer.photo.key, alt: "developer picture" %>
      <% end %>
    </div>
    <div class="booking">
      <div class="developer-name">
          <p><%= @developer.first_name %> <%= @developer.last_name %></p>
      </div>
      <div class="booking-form">
      
      </div>
      <div class="d-flex gap-5">
        <% if policy(@developer).edit? %>
        <%= link_to "Edit this developer", edit_developer_path(@developer) %>
        <% end %>
        <%= button_to "Delete this developer", @developer, method: :delete if policy(@developer).destroy? %>
      </div>
    </div>
  </div>

  <div class="show-container-bottom">
    <p>Ce développeur est proposé par <span class="proprio"> <%= @developer.user.first_name %> <%= @developer.user.last_name %></span> </p>

      <div class="description">
        <h2>Description</h2>
        <p> <%= @developer.description %> </p>
      </div>
      <div class="bonus">
        <h2>Bonus</h2>
        <p> blablabla </p>
      </div>
  </div>

  <div class="show-informations-container d-flex justify-content-between">
    <div class="review-container">
      <h3>Les avis utilisateurs :</h3>
    </div>

    <div class="map-container">
      <h3>Où suis-je ? :</h3>
      <div style="width: 700px; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

</div>
