<div class="show-container">

  <div class="show-container-top">
    <div class="developer-pictures">
      <%= cl_image_tag @developer.photo.key, alt: "developer picture" %>
    </div>
    <div class="booking">
      <div class="developer-name">
          <p><%= @developer.first_name %> <%= @developer.last_name %></p>
      </div>
      <div class="booking-form">
      </div>
        <% if policy(@developer).edit? %>
        <%= link_to "Edit this developer", edit_developer_path(@developer) %>
        <% end %>
        <%= button_to "Delete this developer", @developer, method: :delete if policy(@developer).destroy? %>
    </div>
  </div>

  <div class="show-container-bottom">
    <p>Ce développeur est proposé par <span class="proprio"> <%= @developer.user.first_name %> <%= @developer.user.last_name %></span> </p>

    <div class="description">
      <h2>Description</h2>
      <p> <%= @developer.description %> </p>
    </div>
    <div class="bonus">
      <h2>Bonus</h2>
      <p> blablalb </p>
    </div>
  </div>
</div>
