<div class="form-container" style="width: 500px;">
  <h2>Mot de passe oublié..</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="formBloc">
      <%= f.error_notification %>

      <div class="formGroupe">
        <%= f.label :email %>
        <%= f.text_field :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="d-flex justify-content-between pt-4 form-actions">
        <div>
          <%= render "devise/shared/links" %>
        </div>
        <%= f.button :submit, "Envoyer", class: "btn custom-button" %>
      </div>
    </div>
  <% end %>
</div>
