
  <h1>Mon profil</h1>
  <%= @user.first_name %>

 <div class="profile-container d-flex">
    <div class="my-bookings-container">
      <h1>Mes réservations</h1>
        <% @user.bookings.each do |booking| %>
          <div class="my-bookings-card">
            <% if booking.developer.image_url %>
              <%= image_tag(booking.developer.image_url, alt: "developer picture", class: "image-style") %>
            <% else booking.developer.photo.attached? %>
              <%= cl_image_tag(booking.developer.photo.key, alt: "developer picture") %>
            <% end %>
            <div class="my-bookings-card-infos">
              <h2><%= booking.developer.first_name %> <%= booking.developer.last_name %></h2>
             <p> <%= ((booking.date_end - booking.date_begin + 1) * booking.developer.price_per_day).to_i  %> €</p>
            </div>

            <% if booking.status == "en attente" %>
              <div class="my-bookings-status bg-warning">
                <p><%= booking.status%></p>
              </div>
            <% elsif booking.status == "accepté" %>
              <div class="my-bookings-status bg-success">
                <p><%= booking.status%></p>
              </div>
            <% else %>
              <div class="my-bookings-status bg-danger">
                <p><%= booking.status%></p>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>

    <div class="my-developers-container">
      <h1>Mes développeurs</h1>
      <% @user.developers.each do |dev| %>
      <div class="my-developers-card">
        <% if dev.image_url %>
          <%= image_tag(dev.image_url, alt: "developer picture", class: "image-style") %>
        <% else dev.photo.attached? %>
          <%= cl_image_tag(dev.photo.key, alt: "developer picture")%>
        <% end %>
        <div class="my-developers-card-infos">
          <h2><%= dev.first_name %> <%= dev.last_name %></h2>

  <div class="profile-container d-flex">
    <div class="my-container-top">
      <div class="bloc-un">
        <div class="my-profile-container">
          <h1 class="border-bottom mb-5">Informations</h1>
            <p><strong>Prénom :</strong> <%= @user.first_name %></p><br>
            <p><strong>Nom :</strong> <%= @user.last_name %></p><br>
            <p><strong>Email :</strong> <%= @user.email %></p><br>
        </div>

        <div class="my-notifications-container">
          <h1 class="border-bottom">Notifications</h1>
          <% if current_user.developers.joins(:bookings).where(bookings: { status: "en attente" }).empty? %>
            <p>Aucune notification en cours...</p>
          <% else %>
            <% current_user.developers.joins(:bookings).where(bookings: { status: "en attente" }).each do |dev| %>
              <% dev.bookings.where(status: "en attente").each do |booking| %>
                <div class="my-developers-card">
                  <div class="my-developers-card-infos">
                    <p>
                      <span><%= booking.user.first_name %> <%= booking.user.last_name %></span> a fait une demande de réservation pour
                      <span><%= dev.first_name %> <%= dev.last_name %></span></p>
                    <p>du <%= booking.date_begin %> au <%= booking.date_end %></p>
                    <p><strong><%= ((booking.date_end - booking.date_begin) * dev.price_per_day).to_i %> €</strong></p>
                  </div>
                  <div class="icons">
                    <%= button_to 'Accepter', accept_booking_path(booking.id), method: :patch, class: 'btn btn-accept' %>
                    <%= button_to 'Refuser', refuse_booking_path(booking.id), method: :patch, class: 'btn btn-refuse' %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="bloc-deux">
        <div class="my-bookings-container">
          <h1 class="border-bottom">Mes récentes réservations</h1>
            <% @user.bookings.first(5).each do |booking| %>
              <div class="my-bookings-card border-bottom">
                <div class="info-booking">
                  <div class="picture">
                    <% if booking.developer.image_url %>
                      <%= image_tag(booking.developer.image_url, alt: "developer picture", class: "image-style") %>
                    <% else booking.developer.photo.attached? %>
                      <%= cl_image_tag(booking.developer.photo.key, alt: "developer picture") %>
                    <% end %>
                  </div>
                  <div class="my-bookings-card-infos">
                    <h2><%= booking.developer.first_name %> <%= booking.developer.last_name %></h2>
                    <p>Réservé.e du <%= booking.date_begin %> au <%= booking.date_end%></p>
                    <p> <%= ((booking.date_end - booking.date_begin + 1) * booking.developer.price_per_day).to_i  %> €</p>
                  </div>
                </div>

                <% if booking.status == "en attente" %>
                  <div class="my-bookings-status bg-warning">
                    <p><%= booking.status%></p>
                  </div>
                <% elsif booking.status == "accepté" %>
                  <div class="my-bookings-status bg-success">
                    <p><%= booking.status%></p>
                  </div>
                <% else %>
                  <div class="my-bookings-status bg-danger">
                    <p><%= booking.status%></p>
                  </div>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
    <div class="my-container-bottom">
      <div class="my-developers-container">
        <h1 class="border-bottom">Mes développeurs (<%= @user.developers.count %>)</h1>
        <div class="my-cards-grid">
          <% @user.developers.each do |dev| %>
            <div class="developer-card">
              <% if dev.image_url %>
                <%= image_tag(dev.image_url, alt: "developer picture", class: "image-style") %>
              <% else dev.photo.attached? %>
                <%= cl_image_tag(dev.photo.key, alt: "developer picture")%>
              <% end %>
              <div class="developers-card-infos">
                <h2><%= dev.first_name %> <%= dev.last_name %></h2>
              </div>
              <div class="icons">
                <%= link_to developer_path(dev.id), data: { turbo_method: :delete } do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
                <%= link_to edit_developer_path(dev.id) do %>
                  <i class="fa-solid fa-pen-to-square" style="color: rgb(177, 156, 36);"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
