


  <h1>Mon profil</h1>
  <%= @user.first_name %>

  <%# if booking date current
  show alert %>
  <div class="container d-flex">
    <div class="my-bookings-container">
      <h1>Mes bookings</h1>
        <% @user.bookings.each do |booking| %>
        <div class="my-developers-card">

          <div class="my-developers-card-infos">
            <h2><%= booking.developer.first_name %> <%= booking.developer.last_name %></h2>
            <p></p>
          </div>
        </div>
        <% end %>

    </div>

    <div class="my-developers-container">
      <h1>Mes developpeurs</h1>
      <% @user.developers.each do |dev| %>
      <div class="my-developers-card">
        <% if dev.image_url %>
          <%= image_tag(dev.image_url, alt: "developer picture", class: "image-style") %>
        <% else dev.photo.attached? %>
          <%= cl_image_tag(dev.photo.key, alt: "developer picture", crop: :thumb, gravity: :face) %>
        <% end %>
        <div class="my-developers-card-infos">
          <h2><%= dev.first_name %> <%= dev.last_name %></h2>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<%#
<h1>Mes bookings</h1>
<% @user.bookings %>
