  <h1>Mon profil</h1>
  <%= @user.first_name %>

 <div class="profile-container d-flex">
    <div class="my-bookings-container">
      <h1>Mes réservations</h1>
        <% @user.bookings.each do |booking| %>
          <div class="my-bookings-card">
            <% if booking.developer.image_url %>
              <%= image_tag(booking.developer.image_url, alt: "developer picture", class: "image-style") %>
            <% else booking.developer.photo.attached? %>
              <%= cl_image_tag(booking.developer.photo.key, alt: "developer picture") %>
            <% end %>
            <div class="my-bookings-card-infos">
              <h2><%= booking.developer.first_name %> <%= booking.developer.last_name %></h2>
              <p>Réservé.e du <%= booking.date_begin %> au <%= booking.date_end%></p>
              <p> <%= ((booking.date_end - booking.date_begin + 1) * booking.developer.price_per_day).to_i  %> €</p>
            </div>

            <% if booking.status == "en attente" %>
              <div class="my-bookings-status bg-warning">
                <p><%= booking.status%></p>
              </div>
            <% elsif booking.status == "accepté" %>
              <div class="my-bookings-status bg-success">
                <p><%= booking.status%></p>
              </div>
            <% else %>
              <div class="my-bookings-status bg-danger">
                <p><%= booking.status%></p>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>

    <div class="my-developers-container">
      <h1>Mes développeurs</h1>
      <% @user.developers.each do |dev| %>
      <div class="my-developers-card">
        <% if dev.image_url %>
          <%= image_tag(dev.image_url, alt: "developer picture", class: "image-style") %>
        <% else dev.photo.attached? %>
          <%= cl_image_tag(dev.photo.key, alt: "developer picture")%>
        <% end %>
        <div class="my-developers-card-infos">
          <h2><%= dev.first_name %> <%= dev.last_name %></h2>
        </div>
        <div class="icons">
          <%= link_to developer_path(dev.id), data: { turbo_method: :delete } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
          <%= link_to edit_developer_path(dev.id) do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="my-developers-container">
    <h1>Notifications</h1>
      <% if @user.bookings.where(status: "en attente").empty? %>
        <p>Aucune Notifications en cours..</p>
      <% else %>
        <% @user.developers.each do |dev| %>
          <% dev.bookings.each do |booking| %>
            <% if booking.status == "en attente" %>
              <div class="my-developers-card">
                <div class="my-developers-card-infos">
                  <h2><%= dev.first_name %> <%= dev.last_name %></h2>
                  <p>Réservé.e du <%= booking.date_begin %> au <%= booking.date_end%></p>
                  <p> <%= ((booking.date_end - booking.date_begin) * dev.price_per_day).to_i  %> €</p>
                </div>
                <div class="icons">
                  <%= button_to 'Accepter', accept_booking_path(booking.id), method: :patch %>
                  <%= button_to 'Refuser', refuse_booking_path(booking.id), method: :patch %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
 </div>
